{erl_opts, [debug_info]}.

{deps, [
  {cowboy,"1.0.4",{git, "https://github.com/ninenines/cowboy.git", {tag, "1.0.4"}}}
]}.

{pre_hooks, [
  {clean, "rm -rf ./_build/test"}
]}.
{provider_hooks, [{pre, [{clean}]}]}.

{cover_enabled, true}.
{eunit_opts, [
    verbose, {
        report,{
            eunit_surefire,[
                {dir,"./_build/test"}
            ]
        }
    }
]}.